#loginForm{
	margin-top: 100px;
}

.bs-docs-header{
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 24px;
	text-align: left
}

.bs-docs-header h1, .bs-docs-header p {
	margin-right: 380px;
}

.bs-docs-header h1 {
	font-size: 60px;
	line-height: 1;
}